<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pos.lms.mobile">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_infinite_s"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_infinite_s_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LearningManagementSystemPOS"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.student.detailStudent.session.detail.schedule.detailSchedule.detailTest.DetailTestActivity"></activity>
        <activity android:name=".ui.changePassword.ChangePasswordActivity" />
        <activity android:name=".ui.profile.ProfileActivity" />
        <activity android:name=".ui.student.detailStudent.insight.update.UpdateInsightActivity" />
        <activity android:name=".ui.student.detailStudent.insight.create.CreateInsightActivity" />
        <activity android:name=".ui.student.detailStudent.forum.update.UpdateForumActivity" />
        <activity
            android:name=".util.VideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity android:name=".util.PdfViewActivity" />
        <activity android:name=".ui.student.detailStudent.session.detail.schedule.detailSchedule.detailQuisioner.QuisionerActivity" />
        <activity android:name=".ui.student.detailStudent.session.detail.mentoring.detail.DetailMentoringActivity" />
        <activity android:name=".ui.student.detailStudent.forum.create.CreateForumActivity" />
        <activity android:name=".ui.student.detailStudent.forum.detail.DetailForumActivity" />
        <activity android:name=".ui.student.detailStudent.session.detail.schedule.detailSchedule.DetailScheduleActivity" />
        <activity android:name=".ui.student.detailStudent.session.detail.DetailSessionActivity" />
        <activity android:name=".ui.student.detailStudent.DetailActivityStudent" />
        <activity android:name=".ui.materi.detail.DetailMateriActivity" />
        <activity android:name=".ui.proposal.update.UpdateCuriculumActivity" />
        <activity android:name=".ui.proposal.detail.DetailCuriculumActivity" />
        <activity android:name=".ui.proposal.create.CreateCuriculumActivity" />
        <activity android:name=".ui.materi.MateriActivity" />
        <activity android:name=".ui.proposal.CuriculumActivity" />
        <activity android:name=".ui.roadmap.RoadmapActivity" />
        <activity android:name=".ui.student.StudentActivity" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:theme="@style/Theme.LearningManagementSystemPOS.NoActionBarHome" />
        <activity
            android:name=".ui.splash.SplashScreenActivity"
            android:theme="@style/Theme.LearningManagementSystemPOS.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/Theme.LearningManagementSystemPOS.NoActionBar" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>